.heading{
    display: inline;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#name{
    left: 10%;
    width: auto;
    padding: 10px;
    background: #4aaaa5;
}

.navigate{
    color: blue;
    float: right;
    list-style-type: none;
    padding-left: 0;
}

.content{
    margin-left: 20%;
    margin-top:20%;
    height: 960px;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}