#heading{
    margin: 0px, 30px, 30px, 30px;
    margin-left: 20%;
    margin-right: auto;
    padding: 10px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline-block;
    background: #4aaaa5;
    color: white;
}

#contacts{
    top: 30px;
    right: 150px;
    position: absolute;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: large;
}

ul.links li{
    width: auto;
    margin: 5px;
    float: left;
    list-style-type: none;
}

/*This line removes the underline on my links in the header*/
a{text-decoration: none;}

.backdrop{
    padding: 30px;
    margin: 0px;
    top: 15%;
    min-height: 60%;
    width: 100%;
    background-image: url(../images/background-image.png);
    z-index: 1;
}
.content{
    margin-left: 20%;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    position: relative;
    top: 30%;
    height: auto;
    width: 960px;
    background: #ffffff;
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    flex-direction: column;
    z-index: 2;
}

.content-images{
    margin-left: 20%;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 0em;
    top: 30%;
    height: auto;
    width: 960px;
    background: #ffffff;
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    flex-direction: column;
    z-index: 2;
}
#sep-line{
    width: 80%;
    height: 2px;
    margin-left: 45px;
    background: #4aaaa5;
    z-index: 3;
}

h2, h3{
    width: auto;
    height: auto;
    margin-left: 30px;
    padding: 5px;
}

h2{
    padding-top: 20px;
}

p{
    padding: 10px;
}

#name, #email, #message{
    vertical-align: top;
    margin-left: 30px;
    width: auto;
}

#my-picture{
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
    float: left;
}

.stock-picture{
    width: 200px;
    height: 150px;
    position: relative;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.frame{
    position: relative;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    border: 5px;
    border-color: #4aaaa5;
}

.picture-text{
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 10;
    color: white;
    background-color: #4aaaa5;
    width: 200px;
    height: 35px;
    padding-top: 15px;
}

.foot{
    text-align: center;
    width: 96%;
    height: 10%;
    padding: 2%;
    background-color: #666666;
    z-index: 3;
    bottom: 10%
}
